.puzzle,
.puzzle th,
.puzzle td {
  border: 1px solid gainsboro;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 70%;
}

.puzzle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.toprow td {
  text-align: center;
  vertical-align: bottom;
}

.toprow div {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  color: dimgrey;
}

.mainrow td {
  text-align: right;
  height: 40px;
  width: 40px;
}

.mainrow td:first-child div {
  display: inline;
  padding-left: 4px;
  padding-right: 4px;
  color: dimgrey;
}

.complete {
  font-size: 10px;
  color: darkgreen;
}

.square {
  height: 40px;
  width: 40px;
  border: 0;
  font-size: 10px;
  text-align: center;
  background-color: white;
}

.heading {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: darkviolet;
  padding: 5px;
  margin-bottom: 10px;
}

.intro {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.intro p {
  padding-left: 30px;
  padding-right: 30px;
}

.intro a {
  color: darkviolet;
  text-decoration: underline;
}

.result {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: crimson;
  padding: 10px;
}

.instructions {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: darkviolet;
  padding: 10px;
}

.instructions p {
  padding: 10px;
}
